.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1em;
  background-color: #843e66;
  color: #fff;
  padding: 3em;
  border-radius: 10px;
  text-align: center;
}
.mm {
  padding: 1rem 5rem;
}
.footer-section .title {
  opacity: 2;
  font-weight: bold;
  margin-bottom: 1em;
  color: #fff;
  font-size: 1.1em;
}
.footer-section p {
  margin-bottom: 0.5em;
}
.footer-section .flink {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .mm {
    padding-right: 0;
  }
}
